@font-face {
  font-family: "Campton Book";
  src: url("Campton-Bold.woff2") format("woff2"),
    url("Campton-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Campton Book";
  src: url("Campton-Book.woff2") format("woff2"),
    url("Campton-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Campton";
  src: url("Campton-ExtraBold.woff2") format("woff2"),
    url("Campton-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Campton";
  src: url("Campton-Medium.woff2") format("woff2"),
    url("Campton-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Campton";
  src: url("Campton-SemiBold.woff2") format("woff2"),
    url("Campton-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
