@import "./font.css";
@import "../node_modules/slick-carousel/slick/slick.scss";
@import "../node_modules/slick-carousel/slick/slick-theme.scss";
html {
  background: url("/assets/img/product-bg.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  scroll-behavior: smooth;
}
*,
::after,
::before {
  box-sizing: border-box !important;
}

@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}

@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}

* {
  font-family: BlinkMacSystemFont, -apple-system, "Campton Book", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif !important;
}

body {
  font-size: 20px;
}

a {
  color: hsl(0, 0%, 29%) !important;
}

:root {
  --nav-bg-color: #f8f8f8;
  --primary-color: #326a1f;
  --secondary-color: #59ff00;
  --background-color: #f7f7f7;
  --text-white: #f5f5f5;
}

.child-item a {
  color: #4a4a4a !important;
}
.table {
  background-color: transparent !important;
  font-size: 0.875rem;
}
.product-table {
  @include for-phone-only() {
    margin-top: 3.5rem !important;
  }
}
a.navbar-item {
  color: black !important;
  @include for-phone-only() {
    width: 100%;
    text-align: center;
  }
  &:hover {
    background: none !important;
  }
}

#navbar {
  background: transparent;
  transition: all 300ms ease-in;
  @include for-phone-only() {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    background-color: var(--primary-color) !important;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
      0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    span:not(.product-dropdown) {
      color: var(--text-white) !important;
    }

    a :not(.product-dropdown .child-item) {
      color: var(--text-white) !important;
    }

    svg :not(.product-dropdown) {
      fill: var(--text-white);
    }

    .navbar-align {
      gap: 20px;
    }

    img.logo {
      transform: scale(0.6);
    }
  }
  img {
    transition: all 300ms ease-in-out !important;
  }
}

.navbar-end {
  a {
    display: flex;
    align-items: center;
    line-height: normal;
    color: var(--text-white) !important;
  }
}

.hero.is-medium {
  padding: 5rem 1.5rem !important;
}

.bd-focus {
  margin: 0 auto 0 !important;
  max-width: 1080px !important;

  figure.category :hover {
    transform: translateY(-15px);
    transition: transform cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
  }

  figure.category {
    img {
      width: 130px;
      height: 130px;
    }
  }

  figure.product :hover {
    transform: scale(1.08);
    transition: transform cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
  }
}

.product-image {
  width: 240px;
  object-fit: contain;
  max-height: 160px;
}

.quality {
  &-icon {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin: auto;
  }
}

.hero-quality {
  position: relative;

  &-bg {
    object-fit: contain;
  }
}

.divider {
  height: 70px;
  width: 100%;
  object-fit: contain;
}
.navbar-menu.is-active {
  grid-gap: 0 !important;
  overflow: hidden !important;
  background-color: var(--primary-color);
  @extend .navbar-sticky;
  .navbar-item {
    color: var(--text-white) !important;
  }
  .logo-wrapper {
    display: none;
  }
  .navbar-align {
    display: flex !important;
    flex-direction: column !important;
  }
  .navbar-end {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    a {
      color: var(--text-white) !important;
      margin-left: 30px;
    }
  }
}
.footer {
  padding: 0 !important;
  position: relative;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% auto;
  z-index: 2 !important;
  background-color: transparent !important;
  background: url("/assets/img/footer-bg.svg");
  @include for-phone-only {
    height: 110%;
  }
  background-repeat: no-repeat;
  background-size: cover;
  .has-text-centered {
    padding-top: 15rem;
  }

  .adress {
    line-height: 1.6;
    padding-top: 15px;
  }

  .navbar-divider {
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    background: var(--nav-bg-color);
    height: 1px;
  }
}

.space-between {
  justify-content: space-between;
}

.remove-btn {
  margin-right: 0.5rem;
}

.item-enter {
  opacity: 0;
}

.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.item-exit {
  opacity: 1;
}

.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.is-divider {
  display: flex;
  width: 100%;
  border-top: 1px solid #8ab89f;
  padding-top: 30px;
  justify-content: space-between;
}

.footer-menu {
  li {
    list-style: none;
  }

  a {
    border-radius: 2px;
    color: hsl(0, 0%, 96%) !important;
    display: block;
    padding: 0.2em 0.5em;
  }
}

:focus {
  outline: 0;
}

.product-thumbnail {
  width: 55px;

  img {
    object-fit: cover;
    height: 60px !important;
  }
}

.product-dropdown {
  transform: translateX(-40%) !important;
}

.navbar-item img {
  max-height: none !important;
}

.product-dropdown {
  min-width: 600px !important;
  overflow: hidden;
}

.align-items-center {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.align-items-center-column {
  display: flex !important;
  align-items: center !important;
  flex-direction: column;
}

.hover-1 {
  &:hover {
    background: none !important;
    transform: translateY(-5px);
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.14);
  }
  transition: box-shadow 0.1s linear, transform 0.15s ease-out;
  &:before {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: var(--primary-color);
    transform: scaleX(0);
    content: "";
    position: absolute;
    transition: transform 0.2s ease;
  }
}

.slick-thumb {
  li {
    width: 60px !important;
    height: 45px !important;
    filter: grayscale(100%);
  }
}

.slick-active {
  filter: none !important;
}

.slick-next,
.slick-prev {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
  border: none;
  @include for-phone-only {
    display: none !important ;
  }
}

.slick-dots {
  bottom: -55px !important;
}

.slick-list {
  width: 100% !important;
}

.category-section {
  position: relative;

  // &::after {
  //   content: "";
  //   position: absolute;
  //   left: -60px;
  //   background: url("/assets/img/product-slider-bg.png");
  //   background-size: 70% 70%;
  //   background-repeat: no-repeat;
  //   width: 500px;
  //   bottom: -60px;
  //   height: 430px;
  //   z-index: -1;
  //   transform: rotate(270deg);

  //   @include for-phone-only {
  //     display: none;
  //   }
  // }

  // &::before {
  //   content: "";
  //   position: absolute;
  //   right: -100px;
  //   background: url("/assets/img/product-slider-bg.png");
  //   background-size: 70% 70%;
  //   background-repeat: no-repeat;
  //   width: 500px;
  //   bottom: -60px;
  //   height: 430px;
  //   z-index: -1;
  //   transform: rotate(180deg);

  //   @include for-phone-only {
  //     display: none;
  //   }
  // }
}

#product-slider {
  position: relative;
  user-select: none;

  img.product-floor {
    position: absolute;
    bottom: 15px;
    height: 70px;
    box-shadow: 10px 10px 5px #ccc;
    overflow: hidden;
    margin: auto;
    left: 0;
    border-radius: 5px;
    right: 0;
    width: 100%;
    user-select: none;

    @include for-phone-only {
      width: 100%;
    }
  }

  // &:before {
  //   content: "";
  //   position: absolute;
  //   left: -15px;
  //   bottom: 0;
  //   background: url("/assets/img/product-slider-bg.png");
  //   background-size: 70% 70%;
  //   background-repeat: no-repeat;
  //   width: 270px;
  //   height: 250px;
  //   transform: rotate(180deg);
  //   transform: scaleY(-1);
  //   z-index: 1;

  //   @include for-phone-only {
  //     display: none;
  //   }
  // }

  // &:after {
  //   content: "";
  //   position: absolute;
  //   right: -15px;
  //   bottom: 0;
  //   background: url("/assets/img/product-slider-bg.png");
  //   background-size: 70% 70%;
  //   background-repeat: no-repeat;
  //   width: 270px;
  //   height: 250px;
  //   transform: rotate(180deg);

  //   @include for-phone-only {
  //     display: none;
  //   }
  // }
}

.footer-shape {
  position: absolute;
  left: 0;
  top: -250px;
}

#product-detail {
  padding-bottom: 5rem;
  position: relative;

  .hero-body {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      right: -40px;
      top: -42px;
      background: url("/assets/img/product-slider-bg.png");
      background-size: 70% 70%;
      background-repeat: no-repeat;
      width: 320px;
      height: 300px;
      z-index: -1;
      transform: rotate(90deg);
      @include for-phone-only() {
        display: none;
      }
    }
  }

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -30px;
    background: url("/assets/img/product-slider-bg.png");
    background-size: 70% 70%;
    background-repeat: no-repeat;
    width: 320px;
    height: 300px;
    @include for-phone-only() {
      display: none;
    }
  }
}

.navbar-align {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  gap: 40px;
  font-size: 1.3rem !important;
  transition: all 300ms ease-in;
  @include for-phone-only() {
    gap: 1px !important;
    font-size: 0.875rem !important;
  }
}

[class="slick-dots"] {
  bottom: 40px !important;

  li {
    button {
      &:before {
        font-size: 20px !important;
      }
    }
  }
}

.product-description {
  font-family: BlinkMacSystemFont, -apple-system, "Calibri", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif !important;
}

.product-container {
  span {
    display: block;
  }

  &:hover {
    p {
      color: var(--primary-color);
      transition-duration: 0.2s;
      transition-property: box-shadow, color;
    }
  }
}

.about {
  background: url("/assets/img/DSC_0053.jpg") center center;
  background-size: cover;
}

.hero.medium {
  padding: 0 !important;
}

.slick-prev,
.slick-next {
  z-index: 3;

  &:before {
    color: var(--primary-color) !important;
  }
}

.hero.has-background {
  position: relative;
  overflow: hidden;
}

.hero-background {
  position: absolute;
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 100vh;
}
.logo-wrapper {
  position: relative;
  &:hover {
    .contact {
      display: block;
    }
  }
}
.contact {
  min-width: 250px;
  background-color: 500px;
  position: absolute;
  background: var(--primary-color);
  display: none;
  margin: auto;
  transform: translateX(-12%);
  border-radius: 10px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  padding: 1rem 0.75rem;
  p {
    color: var(--text-white);
  }
}
.navbar-sticky {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  background-color: var(--primary-color) !important;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  span:not(.product-dropdown) {
    color: var(--text-white) !important;
  }

  a :not(.product-dropdown .child-item) {
    color: var(--text-white) !important;
  }

  svg :not(.product-dropdown) {
    fill: var(--text-white);
  }

  .navbar-align {
    gap: 20px;
  }

  img.logo {
    transform: scale(0.6);
  }
}

.has-text-half-white {
  color: var(--text-white) !important;
}

.content-wrapper {
  margin-top: 10rem;
  position: relative;
}

.menu-list {
  a {
    &:hover {
      background: none !important;
    }
  }
  a:not(.leftside-title) {
    transition: box-shadow 0.1s linear, transform 0.15s ease-out;
    &:hover {
      background: none !important;
      transform: translateY(-5px);
      box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.14);
    }
  }
}

.card {
  background-color: transparent !important;
}
.leftside-title {
  text-align: left;
  font-weight: 600;
  color: var(--primary-color) !important;
}
.menu-list {
  ul {
  }
}
.product-item {
  cursor: pointer;
  img {
    min-width: 200px;
  }
}
.link-active {
  position: relative;
  display: flex;
  align-items: center;
  &:before {
    content: "";
    width: 2px;
    background-color: var(--primary-color);
    height: 50%;
    position: absolute;
  }
  a {
    color: var(--primary-color) !important;
    font-weight: 600;
  }
}
.flip-wrapper {
  margin: auto;
  position: relative;
}
.flip-next {
  right: 9rem;
  @include for-phone-only {
    right: 0;
  }
}
.flip-prev {
  left: 9rem;
  @include for-phone-only {
    left: 0;
  }
}
.slick-prev.flip-prev:before,
.slick-next.flip-next:before {
  font-size: 30px;
}
.stf__block {
  position: relative;
}
.navbar-dropdown {
  a {
    color: #4a4a4a !important;
    &:hover {
      color: var(--primary-color) !important;
    }
  }
}
.is-primary {
  .navbar-end {
    a {
      color: var(--primary-color) !important;
    }
  }
}
.blog {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(186px, 1fr));
  gap: 2rem;
}
// .home {
//   @include for-phone-only {
//     transform: translateX(-22px);
//   }
// }
// .catalog {
//   @include for-phone-only {
//     transform: translateX(-7px);
//   }
// }
.navbar-end a {
  @include for-phone-only {
    margin-left: -25px !important;
  }
}
.nested.dropdown {
  &:hover > .dropdown-menu {
    display: block;
  }
  .dropdown-menu {
    top: -15px;
    margin-left: 100%;
  }
  .dropdown-trigger {
    button::after {
      content: "";
    }
    button {
      padding: 0px 0px;
      border: 0px;
      font-size: 14px;
      font-weight: 400;
      height: 2em;
    }
  }
}
.flexwrap-reverse {
  display: flex;
  flex-wrap: wrap-reverse;
}
.modal-overlay {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  transition: opacity 0.3s ease;
  background-color: rgba(0, 0, 0, 0.6);
}
.image img {
  object-fit: contain;
  max-height: 300px !important;
}
.gallery-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  &:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    transform: scale(1.02);
  }
}
.product-suggestion-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 3rem;
}

.d-flex{
  display: flex;
}

.navbar-brand{
  max-height: 3.25rem !important;
}

main{
  min-height: 100vh !important;
}